.Slider {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;

    @include Mobile {
        height: auto;
    }

    &_container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &_img {
        display: flex;
        object-fit: cover;
        width: 100%;
        height: 100vh;

        @include Mobile {
            height: 55vh;
        }
    }

    &_skeleton {
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg,
                #e0e0e0 25%,
                #f0f0f0 50%,
                #e0e0e0 75%);
        background-size: 200% 100%;
        animation: skeleton-loading 1.5s infinite;
    }

    @keyframes skeleton-loading {
        0% {
            background-position: 200% 0;
        }

        100% {
            background-position: -200% 0;
        }
    }

}