@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  right: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: aliceblue;
  background: rgba(0, 0, 0, 0.299);
}
@media (min-width: 2000px) {
  .Container {
    margin: 0 auto;
    padding: 0;
    max-width: 2222px;
  }
}
@media (max-width: 1200px) {
  .Container {
    padding: 1% 2%;
  }
}
.Container_block {
  display: flex;
  align-items: center;
}
.Container_block--1 {
  justify-content: space-between;
  width: 6vw;
}
@media (max-width: 1200px) {
  .Container_block--1 {
    width: 8vw;
  }
}
.Container_block--2 {
  width: 45%;
  justify-content: center;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
}
@media (max-width: 1200px) {
  .Container_block--2 {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .Container_block {
    display: none;
  }
}
.Container_links {
  display: inline-block;
  transition: ease-in-out 0.3s;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
}
.Container_links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #5ce1e6;
  transition: width 0.3s;
}
.Container_links:hover {
  cursor: pointer;
  color: #5ce1e6;
}
.Container_links:hover::after {
  background: #5ce1e6;
  width: 100%;
}
@media (min-width: 2000px) {
  .Container_links {
    font-size: 40px;
  }
}
.Container_socials {
  width: 2vw;
  height: 2vw;
  filter: grayscale(1);
  transition: ease-in-out 0.3s;
}
.Container_socials:hover {
  cursor: pointer;
  filter: grayscale(0);
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .Container_socials {
    width: 3vw;
    height: 3vw;
  }
}
.Container_logo {
  min-width: 90px;
  min-height: 90px;
  max-width: 200px;
  max-height: 200px;
  width: 9vw;
  height: 9vw;
  padding: 10px;
}
@media screen and (min-width: 800px) {
  .Container {
    /* Apply for BigScreen and Desktop */
  }
  .Container_logo {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  .Container {
    /* Apply for Tablet */
  }
  .Container_logo {
    width: 17vw;
    height: 17vw;
  }
}
@media screen and (max-width: 599px) {
  .Container {
    /* Apply for Mobile */
  }
  .Container_logo {
    width: 90px;
    height: 90px;
  }
}
.Container_lang-con {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .Container_lang-con {
    display: none;
  }
}
.Container_selector {
  display: flex;
  outline: none;
  background: transparent;
  cursor: pointer;
}
@media (min-width: 2000px) {
  .Container_selector {
    font-size: 40px;
  }
}
.Container_selector:hover {
  color: #5ce1e6;
}
.Container_option {
  background-color: transparent;
}
.Container_option:hover {
  color: white;
}

.Navpages {
  display: flex;
  width: 100%;
  background: #393636;
}
.Navpages_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: aliceblue;
}
@media (min-width: 2000px) {
  .Navpages_box {
    margin: 0 auto;
    padding: 0;
    max-width: 1960px;
  }
}
@media (max-width: 1200px) {
  .Navpages_box {
    padding: 1% 2%;
  }
}

.Menu {
  display: none;
}
@media (max-width: 768px) {
  .Menu {
    display: flex;
  }
}
.Menu_burger {
  cursor: pointer;
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.478);
}
@media (max-width: 768px) {
  .Menu_burger {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .Menu_burger {
    font-size: 10vw;
  }
}

.Menu-open {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  box-sizing: border-box;
  background: white;
  height: 100vh;
}
.Menu-open:target {
  transform: translateX(0);
}
@media (min-width: 790px) {
  .Menu-open {
    display: none;
  }
}
.Menu-open_Box {
  display: flex;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .Menu-open_Box {
    margin-top: 4%;
  }
}
.Menu-open_Close {
  margin-right: 2%;
  font-size: 4vw;
}
@media (max-width: 500px) {
  .Menu-open_Close {
    font-size: 9vw;
  }
}
.Menu-open_Box-2 {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}
.Menu-open_links-con {
  display: flex;
  row-gap: 5vh;
  margin-left: 2%;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 500px) {
  .Menu-open_links-con {
    row-gap: 5vh;
    margin-left: 5%;
    margin-top: 10%;
  }
}
.Menu-open_links {
  font-size: 3vw;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
@media (max-width: 768px) {
  .Menu-open_links {
    font-size: 4vw;
  }
}
@media (max-width: 500px) {
  .Menu-open_links {
    font-size: 6vw;
  }
}
.Menu-open_links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fed983;
  transition: width 0.3s;
}
.Menu-open_links:hover {
  cursor: pointer;
  color: #fed983;
}
.Menu-open_links:hover::after {
  background: #fed983;
  width: 100%;
}
.Menu-open_lang-con {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  margin-right: 2%;
}
@media (max-width: 500px) {
  .Menu-open_lang-con {
    font-size: 6vw;
    margin-top: 10%;
  }
}
.Menu-open_selector {
  display: flex;
  outline: none;
  background: transparent;
  cursor: pointer;
}
@media (min-width: 2000px) {
  .Menu-open_selector {
    font-size: 40px;
  }
}
.Menu-open_selector:hover {
  color: #5ce1e6;
}
.Menu-open_option {
  background-color: transparent;
}
.Menu-open_option:hover {
  color: white;
}

.Slider {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .Slider {
    height: auto;
  }
}
.Slider_container {
  position: relative;
  width: 100%;
  height: 100%;
}
.Slider_img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}
@media (max-width: 500px) {
  .Slider_img {
    height: 55vh;
  }
}

.About {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}
@media (min-width: 2000px) {
  .About {
    margin: 0 auto;
    padding: 0;
    max-width: 2222px;
  }
}
.About_grid {
  display: grid;
  margin-top: 2%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
@media (max-width: 768px) {
  .About_grid {
    display: flex;
    flex-direction: column-reverse;
    max-width: 90%;
    align-self: center;
  }
}
.About_title {
  font-size: 3vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .About_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .About_title {
    font-size: 8vw;
  }
}
.About_text-con {
  display: flex;
}
.About_text {
  display: flex;
  text-align: left;
  line-break: normal;
  font-size: 1.5vw;
  line-height: 5vh;
  width: 90%;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .About_text {
    font-size: 2.5vw;
    margin-top: 3%;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .About_text {
    font-size: 5vw;
  }
}
.About_Vid-con {
  position: relative;
  width: 100%;
  height: 100%;
}
.About_Vid {
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  z-index: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100vw;
  height: 100%;
}
@media (max-width: 768px) {
  .About_Vid {
    position: relative;
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .About_Vid {
    height: 40vh;
  }
}

.Services {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
  padding-bottom: 5%;
}
@media (min-width: 2000px) {
  .Services {
    margin: 0 auto;
    padding: 0;
    max-width: 2222px;
  }
}
.Services_title {
  font-size: 3vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .Services_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .Services_title {
    font-size: 8vw;
  }
}
.Services_Grid {
  display: grid;
  margin-top: 2%;
  row-gap: 5vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.Services_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
@media (max-width: 768px) {
  .Services_block {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .Services_block--2 {
    flex-direction: column-reverse;
  }
  .Services_block--4 {
    flex-direction: column-reverse;
  }
}
.Services_img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70vh;
  border-radius: 10px;
  border: 2px solid white;
}
@media (max-width: 768px) {
  .Services_img {
    width: 90%;
    align-self: center;
  }
}
@media (max-width: 500px) {
  .Services_img {
    width: 100%;
    height: 50vh;
  }
}
.Services_grid-content {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  background-color: transparent;
}
@media (max-width: 768px) {
  .Services_grid-content {
    width: 90%;
    align-self: center;
  }
}
@media (max-width: 500px) {
  .Services_grid-content {
    width: 100%;
  }
}
.Services_grid-content-title {
  color: #fed983;
  font-size: 3vw;
  padding-bottom: 5%;
  text-transform: uppercase;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 500px) {
  .Services_grid-content-title {
    font-size: 4vw;
  }
}
.Services_grid-content-text {
  color: #393636;
  align-self: center;
  max-width: 90%;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (min-width: 2000px) {
  .Services_grid-content-text {
    font-size: 1vw;
  }
}
@media (max-width: 500px) {
  .Services_grid-content-text {
    text-align: left;
  }
}
.Services_package-con {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  grid-column: 1/span 2;
}
.Services_package-txt {
  font-size: 2.5vw;
  text-align: center;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 500px) {
  .Services_package-txt {
    font-size: 5vw;
  }
}
.Services_package-btn {
  padding: 10px;
  font-size: 2vw;
  margin-top: 2%;
  border: 1px solid #002b2c;
  outline: none;
  color: #002b2c;
  cursor: pointer;
  width: 20vw;
  transition: ease-in-out 0.3s;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
.Services_package-btn:hover {
  background-color: #393636;
  color: white;
}
.Services_package-btn:active {
  transform: scale(0.9);
}
@media (max-width: 500px) {
  .Services_package-btn {
    font-size: 5.5vw;
    margin-top: 5%;
    width: auto;
  }
}

.MyPackages {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}
@media (min-width: 2000px) {
  .MyPackages {
    margin: 0 auto;
    padding: 0;
    max-width: 2222px;
  }
}
.MyPackages_title {
  font-size: 3vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .MyPackages_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .MyPackages_title {
    font-size: 8vw;
  }
}
.MyPackages_quote {
  font-size: 2vw;
  text-align: center;
  color: #5ce1e6;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (min-width: 2000px) {
  .MyPackages_quote {
    font-size: 2.5vw;
  }
}
@media (max-width: 768px) {
  .MyPackages_quote {
    font-size: 3vw;
    margin: 2% 0;
  }
}
@media (max-width: 500px) {
  .MyPackages_quote {
    font-size: 4vw;
    margin: 4% 0;
  }
}
@media (max-width: 350px) {
  .MyPackages_quote {
    font-size: 5.5vw;
    margin: 10% 0;
  }
}
.MyPackages_Box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}
.MyPackages_Box--all {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  flex-direction: column;
  border-radius: 15px;
  margin: 2%;
}
@media (max-width: 500px) {
  .MyPackages_Box--all {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .MyPackages_Box {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .MyPackages_Box {
    row-gap: 5vh;
  }
}
.MyPackages_type {
  display: flex;
  padding: 10px;
  justify-content: center;
  font-size: 1.5vw;
  border-radius: 10px;
  align-self: center;
  width: 85%;
  text-transform: uppercase;
  color: black;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #fed983;
}
@media (min-width: 2000px) {
  .MyPackages_type {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  .MyPackages_type {
    font-size: 3vw;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .MyPackages_type {
    font-size: 4vw;
  }
}
@media (max-width: 350px) {
  .MyPackages_type {
    font-size: 4.5vw;
  }
}
.MyPackages_picture {
  width: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: center;
  height: 70vh;
  border-radius: 10px;
  margin-top: 2%;
}
@media (max-width: 768px) {
  .MyPackages_picture {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .MyPackages_picture {
    height: 50vh;
  }
}
.MyPackages_list-con {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 3vh;
  height: 40vh;
  padding: 10px;
  width: 85%;
  list-style: none;
}
@media (max-width: 768px) {
  .MyPackages_list-con {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .MyPackages_list-con {
    height: auto;
  }
}
.MyPackages_list {
  font-size: 1vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  color: #626262;
}
.MyPackages_list::before {
  content: "✓";
  color: #5ce1e6;
  padding-right: 5px;
}
.MyPackages_list:nth-child(1) {
  text-align: center;
}
@media (max-width: 768px) {
  .MyPackages_list {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  .MyPackages_list {
    font-size: 3.5vw;
  }
}
@media (max-width: 350px) {
  .MyPackages_list {
    font-size: 4vw;
  }
}

.Mygallery {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
  padding-bottom: 5%;
  overflow: hidden;
}
@media (min-width: 2000px) {
  .Mygallery {
    margin: 0 auto;
    padding: 0;
    max-width: 2222px;
  }
}
.Mygallery_title {
  font-size: 3vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .Mygallery_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .Mygallery_title {
    font-size: 8vw;
  }
}
.Mygallery_anchor {
  display: contents;
}
.Mygallery_Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2%;
  gap: 3vw;
}
@media (max-width: 768px) {
  .Mygallery_Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .Mygallery_Grid {
    display: flex;
    margin-top: 5%;
    row-gap: 8vw;
    flex-direction: column;
  }
}
.Mygallery_container {
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.Mygallery_container:hover {
  transform: scale(1.1);
}
.Mygallery_container:nth-child(2) {
  background-color: aqua;
}
@media (max-width: 500px) {
  .Mygallery_container {
    flex-direction: column-reverse;
  }
}
.Mygallery_img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  border: 2px solid white;
}
@media (max-width: 768px) {
  .Mygallery_middle {
    grid-column: 1/3;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.Mygallery_info {
  font-size: 2vw;
  text-align: center;
  margin-top: 2%;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 500px) {
  .Mygallery_info {
    font-size: 8vw;
    margin-bottom: 2%;
  }
}
.Mygallery_centered {
  display: flex;
  gap: 3vw;
  margin-top: 5%;
  justify-content: center;
}
@media (max-width: 768px) {
  .Mygallery_centered {
    justify-content: baseline;
  }
}
@media (max-width: 500px) {
  .Mygallery_centered {
    display: flex;
    flex-direction: column;
  }
}
.Mygallery_container_2 {
  width: 31%;
}
@media (max-width: 768px) {
  .Mygallery_container_2 {
    width: 100%;
  }
}

.Gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2%;
  overflow: hidden;
}
@media (min-width: 2000px) {
  .Gallery {
    margin: 0 auto;
    max-width: 2222px;
  }
}
.Gallery_title {
  font-size: 3vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  margin-left: 5%;
}
@media (min-width: 2000px) {
  .Gallery_title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .Gallery_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .Gallery_title {
    font-size: 8vw;
  }
}
.Gallery_grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  row-gap: 10vh;
  border-radius: 20px;
  margin: 2% 5%;
}
@media (min-width: 2000px) {
  .Gallery_grid-box {
    margin: 0 auto;
    padding-bottom: 5%;
    max-width: 1960px;
  }
}
@media (max-width: 768px) {
  .Gallery_grid-box {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20%;
    row-gap: 15vh;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
}
@media (max-width: 500px) {
  .Gallery_grid-box {
    grid-template-columns: 1fr;
    row-gap: 5vh;
    grid-auto-rows: 80vh;
    margin-bottom: 2%;
  }
}
.Gallery_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}
.Gallery_img:active {
  transform: scale(0.9);
}
.Gallery_package-con {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  grid-column: 1/span 2;
  margin-bottom: 5%;
}
.Gallery_package-txt {
  font-size: 2vw;
  text-align: center;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .Gallery_package-txt {
    font-size: 3vw;
    max-width: 95%;
  }
}
@media (max-width: 500px) {
  .Gallery_package-txt {
    font-size: 5vw;
    margin-bottom: 2%;
  }
}
@media (max-width: 350px) {
  .Gallery_package-txt {
    font-size: 5.5vw;
    max-width: 90%;
  }
}
.Gallery_package-btn {
  padding: 10px;
  font-size: 2vw;
  margin-top: 2%;
  border: 1px solid #002b2c;
  outline: none;
  color: #002b2c;
  cursor: pointer;
  width: 20vw;
  transition: ease-in-out 0.3s;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
.Gallery_package-btn:hover {
  background-color: #393636;
  color: white;
}
.Gallery_package-btn:active {
  transform: scale(0.9);
}
@media (max-width: 500px) {
  .Gallery_package-btn {
    font-size: 5vw;
  }
}
@media (max-width: 350px) {
  .Gallery_package-btn {
    font-size: 6vw;
  }
}

.shimmer-effect {
  width: 100%;
  height: 200px;
  background: linear-gradient(to right, #f6f7f8 0%, #edeef1 50%, #f6f7f8 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
#fullscreen-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
}

#fullscreen-image {
  display: flex;
  width: auto;
  height: 90vh;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
@media (max-width: 500px) {
  #fullscreen-image {
    width: 80%;
  }
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}
#close-btn:hover {
  color: red;
}
#close-btn:active {
  transform: scale(0.9);
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  color: white;
  font-weight: bolder;
  font-size: 50px;
  cursor: pointer;
}
#prev-btn:hover,
#next-btn:hover {
  color: #5ce1e6;
}
#prev-btn:active,
#next-btn:active {
  transform: scale(0.9);
}

#prev-btn {
  left: 20px;
}

#next-btn {
  right: 20px;
}

.MyStories {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
  padding-bottom: 5%;
  overflow: hidden;
}
@media (min-width: 2000px) {
  .MyStories {
    margin: 0 auto;
    padding: 0;
    max-width: 2222px;
  }
}
.MyStories_title {
  font-size: 3vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .MyStories_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .MyStories_title {
    font-size: 8vw;
  }
}
.MyStories_anchor {
  display: contents;
}
.MyStories_Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2%;
  gap: 3vw;
}
@media (max-width: 768px) {
  .MyStories_Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .MyStories_Grid {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    row-gap: 8vw;
  }
}
.MyStories_container {
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.MyStories_container:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .MyStories_container {
    flex-direction: column-reverse;
  }
}
.MyStories_img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  border: 2px solid white;
}
@media (max-width: 768px) {
  .MyStories_middle {
    grid-column: 1/3;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.MyStories_info {
  font-size: 2vw;
  text-align: center;
  margin-top: 2%;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 500px) {
  .MyStories_info {
    font-size: 8vw;
    margin-bottom: 2%;
  }
}
.MyStories_centered {
  display: flex;
  gap: 3vw;
  margin-top: 5%;
  justify-content: center;
}
@media (max-width: 768px) {
  .MyStories_centered {
    justify-content: baseline;
  }
}
@media (max-width: 500px) {
  .MyStories_centered {
    display: flex;
    flex-direction: column;
  }
}
.MyStories_container_2 {
  width: 31%;
}
@media (max-width: 768px) {
  .MyStories_container_2 {
    width: 100%;
  }
}

.MyStory {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 3% 0;
  overflow: hidden;
}
@media (min-width: 2000px) {
  .MyStory {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 2222px;
  }
}
.MyStory_title {
  font-size: 3vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  margin-left: 5%;
}
@media (min-width: 2000px) {
  .MyStory_title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .MyStory_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .MyStory_title {
    font-size: 8vw;
  }
}
.MyStory_grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  row-gap: 10vh;
  border-radius: 20px;
  margin: 2% 5%;
}
@media (min-width: 2000px) {
  .MyStory_grid-box {
    margin: 0 auto;
    padding-bottom: 5%;
    max-width: 1960px;
  }
}
@media (max-width: 768px) {
  .MyStory_grid-box {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20%;
    row-gap: 15vh;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
}
@media (max-width: 500px) {
  .MyStory_grid-box {
    grid-template-columns: 1fr;
    grid-auto-rows: 80vh;
  }
}
.MyStory_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}
.MyStory_img:active {
  transform: scale(0.9);
}
.MyStory_name {
  font-size: 1.5vw;
  text-align: center;
  text-transform: capitalize;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (min-width: 2000px) {
  .MyStory_name {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .MyStory_name {
    font-size: 3.5vw;
  }
}
@media (max-width: 500px) {
  .MyStory_name {
    font-size: 8vw;
  }
}

.StoryPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2%;
}
@media (min-width: 2000px) {
  .StoryPage {
    margin: 0 auto;
    max-width: 2222px;
  }
}
@media (max-width: 500px) {
  .StoryPage {
    height: 100vh;
  }
}
.StoryPage_title {
  font-size: 3vw;
  text-transform: capitalize;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  margin-left: 5%;
}
@media (min-width: 2000px) {
  .StoryPage_title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .StoryPage_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .StoryPage_title {
    font-size: 8vw;
  }
}
.StoryPage_grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  row-gap: 10vh;
  grid-auto-rows: 70vh;
  height: auto;
  border-radius: 20px;
  margin: 2% 5%;
}
@media (min-width: 2000px) {
  .StoryPage_grid-box {
    margin: 0 auto;
    padding-bottom: 5%;
    max-width: 1960px;
  }
}
@media (max-width: 768px) {
  .StoryPage_grid-box {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20%;
    row-gap: 15vh;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
}
@media (max-width: 500px) {
  .StoryPage_grid-box {
    grid-template-columns: 1fr;
    height: auto;
  }
}
.StoryPage_img {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .StoryPage_img {
    display: flex;
    height: 100%;
  }
}
.StoryPage_img:active {
  transform: scale(0.9);
}

.MyFeedback {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2%;
}
@media (min-width: 2000px) {
  .MyFeedback {
    margin: 0 auto;
    max-width: 1960px;
  }
}
.MyFeedback_title {
  font-size: 3vw;
  font-family: "Asap", sans-serif;
  font-weight: 500;
  margin-left: 5%;
}
@media (min-width: 2000px) {
  .MyFeedback_title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .MyFeedback_title {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .MyFeedback_title {
    font-size: 8vw;
  }
}
.MyFeedback_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  row-gap: 10vh;
  border-radius: 20px;
  margin: 3% 5%;
}
@media (min-width: 2000px) {
  .MyFeedback_grid {
    margin: 0 auto;
    padding-bottom: 5%;
    max-width: 1960px;
  }
}
@media (max-width: 768px) {
  .MyFeedback_grid {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .MyFeedback_grid {
    grid-template-columns: 1fr;
  }
}
.MyFeedback_contain-img {
  display: flex;
  width: 80%;
  height: 45vh;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .MyFeedback_contain-img {
    align-self: center;
    width: 50%;
    height: 50vh;
  }
}
@media (max-width: 500px) {
  .MyFeedback_contain-img {
    width: 100%;
    height: 45vh;
  }
}
.MyFeedback_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}
.MyFeedback_contain-info {
  display: flex;
  flex-direction: column;
  grid-column: 2/span 2;
  margin-top: 3%;
  width: 90%;
}
@media (max-width: 768px) {
  .MyFeedback_contain-info {
    width: 100%;
  }
}
.MyFeedback_name {
  font-size: 2.5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  color: #fed983;
}
@media (min-width: 2000px) {
  .MyFeedback_name {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .MyFeedback_name {
    text-align: center;
    margin-bottom: 3%;
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .MyFeedback_name {
    font-size: 9vw;
  }
}
.MyFeedback_txt {
  display: flex;
  color: #626262;
  line-height: 6vh;
  font-weight: lighter;
  font-size: 1.5vw;
}
@media (max-width: 768px) {
  .MyFeedback_txt {
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  .MyFeedback_txt {
    font-size: 5vw;
    line-height: 5vh;
  }
}

.Mycontact {
  display: flex;
  background-color: rgba(128, 128, 128, 0.651);
  justify-content: space-between;
  background-blend-mode: darken;
  grid-template-rows: auto;
  grid-auto-flow: dense;
  padding: 2% 0;
  border-radius: 20px;
  margin: 4% 15%;
}
@media (min-width: 2000px) {
  .Mycontact {
    margin: 5% auto;
    padding: 0;
    max-width: 2222px;
  }
}
@media (max-width: 768px) {
  .Mycontact {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    padding-left: 2%;
  }
}
.Mycontact_img {
  display: block;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 85%;
}
@media (max-width: 768px) {
  .Mycontact_img {
    width: 100%;
    height: 100vh;
    border-top-left-radius: 0;
  }
}
@media (max-width: 500px) {
  .Mycontact_img {
    max-width: 100%;
    height: 60vh;
  }
}
.Mycontact_info-box {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  width: 80%;
}
@media (max-width: 768px) {
  .Mycontact_info-box {
    margin-left: 0;
    width: 85%;
  }
}
@media (max-width: 500px) {
  .Mycontact_info-box {
    width: 100%;
  }
}
.Mycontact_header {
  font-size: 3vw;
  color: #fed983;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  margin-bottom: 2%;
}
@media (max-width: 768px) {
  .Mycontact_header {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .Mycontact_header {
    font-size: 10vw;
  }
}
.Mycontact_text {
  font-size: 1.5vw;
  max-width: 80%;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  color: white;
}
@media (max-width: 768px) {
  .Mycontact_text {
    font-size: 3vw;
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .Mycontact_text {
    max-width: 95%;
    font-size: 4.5vw;
  }
}
.Mycontact_form {
  display: flex;
  row-gap: 5vh;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-top: 2%;
  color: white;
}
@media (max-width: 768px) {
  .Mycontact_form {
    max-width: 90%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .Mycontact_form {
    height: auto;
    max-width: 100%;
    margin-top: 5%;
  }
}
.Mycontact_box {
  display: flex;
  row-gap: 3vh;
  flex-direction: column;
}
.Mycontact_input {
  background: transparent;
  padding: 5px;
  font-size: 1.5vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  max-width: 100%;
  outline: none;
  color: white;
  border-bottom: 3px solid white;
}
.Mycontact_input::-moz-placeholder {
  color: white;
}
.Mycontact_input::placeholder {
  color: white;
}
@media (max-width: 500px) {
  .Mycontact_input::-moz-placeholder {
    font-size: 4.5vw;
  }
  .Mycontact_input::placeholder {
    font-size: 4.5vw;
  }
}
.Mycontact_input:focus {
  border-bottom: 3px solid #5ce1e6;
}
.Mycontact_input:focus::-moz-placeholder {
  color: #5ce1e6 !important;
}
.Mycontact_input:focus::placeholder {
  color: #5ce1e6 !important;
}
@media (max-width: 768px) {
  .Mycontact_input {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  .Mycontact_input {
    font-size: 4vw;
    width: 100%;
  }
}
.Mycontact_btn {
  padding: 10px;
  font-size: 2vw;
  margin-top: 2%;
  outline: none;
  max-width: 30%;
  border: 1px solid white;
  outline: none;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
.Mycontact_btn:hover {
  background-color: #393636;
  color: white;
}
.Mycontact_btn:active {
  transform: scale(0.9);
}
@media (max-width: 768px) {
  .Mycontact_btn {
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  .Mycontact_btn {
    font-size: 8vw;
  }
}

.Mycontact_packages {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 5% 5%;
}
@media (min-width: 2000px) {
  .Mycontact_packages {
    margin: 5% auto;
    padding: 0;
    max-width: 2222px;
  }
}
@media (max-width: 768px) {
  .Mycontact_packages {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages {
    margin-top: 9%;
    margin-bottom: 9%;
  }
}
.Mycontact_packages_img {
  display: block;
  border-top-left-radius: 20%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 93%;
}
@media (max-width: 768px) {
  .Mycontact_packages_img {
    width: 100%;
    height: 100vh;
    border-top-left-radius: 0;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_img {
    max-width: 100%;
    height: 60vh;
  }
}
.Mycontact_packages_info-box {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  width: 80%;
}
@media (max-width: 768px) {
  .Mycontact_packages_info-box {
    margin-left: 0;
    margin-top: 5%;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_info-box {
    width: 100%;
  }
}
.Mycontact_packages_header {
  font-size: 3vw;
  color: #fed983;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  margin-bottom: 2%;
}
@media (max-width: 768px) {
  .Mycontact_packages_header {
    font-size: 5vw;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_header {
    font-size: 8vw;
  }
}
.Mycontact_packages_text {
  font-size: 1.5vw;
  max-width: 80%;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .Mycontact_packages_text {
    font-size: 3vw;
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_text {
    max-width: 95%;
    font-size: 4vw;
  }
}
.Mycontact_packages_form {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5vh;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-top: 2%;
}
@media (max-width: 768px) {
  .Mycontact_packages_form {
    max-width: 90%;
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_form {
    height: auto;
    max-width: 100%;
    margin-top: 5%;
  }
}
.Mycontact_packages_box {
  display: flex;
  row-gap: 3vh;
  flex-direction: column;
}
.Mycontact_packages_input, .Mycontact_packages_textarea {
  background: transparent;
  padding: 5px;
  font-size: 1.5vw;
  max-width: 100%;
  outline: none;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  color: #626262;
  border-bottom: 3px solid #626262;
}
.Mycontact_packages_input::-moz-placeholder, .Mycontact_packages_textarea::-moz-placeholder {
  color: #626262;
}
.Mycontact_packages_input::placeholder, .Mycontact_packages_textarea::placeholder {
  color: #626262;
}
.Mycontact_packages_input:focus, .Mycontact_packages_textarea:focus {
  border-bottom: 3px solid #5ce1e6;
}
.Mycontact_packages_input:focus::-moz-placeholder, .Mycontact_packages_textarea:focus::-moz-placeholder {
  color: #5ce1e6 !important;
}
.Mycontact_packages_input:focus::placeholder, .Mycontact_packages_textarea:focus::placeholder {
  color: #5ce1e6 !important;
}
@media (max-width: 768px) {
  .Mycontact_packages_input, .Mycontact_packages_textarea {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_input, .Mycontact_packages_textarea {
    font-size: 3.5vw;
    width: 100%;
  }
}
.Mycontact_packages_textarea {
  padding: 0;
}
.Mycontact_packages_choice-box {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .Mycontact_packages_choice-box {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_choice-box {
    font-size: 3vw;
  }
}
@media (max-width: 350px) {
  .Mycontact_packages_choice-box {
    font-size: 3.5vw;
  }
}
.Mycontact_packages_select {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 15px;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #002b2c;
  outline: none;
  color: #002b2c;
}
.Mycontact_packages_select:hover {
  background-color: #393636;
  color: white;
}
@media (max-width: 768px) {
  .Mycontact_packages_select {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_select {
    font-size: 3vw;
    max-width: 60%;
  }
}
.Mycontact_packages_btn {
  padding: 10px;
  font-size: 2vw;
  margin-top: 2%;
  max-width: 40%;
  border: 1px solid #002b2c;
  outline: none;
  color: #002b2c;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-family: "Asap", sans-serif;
  font-weight: 500;
}
.Mycontact_packages_btn:hover {
  background-color: #393636;
  color: white;
}
.Mycontact_packages_btn:active {
  transform: scale(0.9);
}
@media (max-width: 768px) {
  .Mycontact_packages_btn {
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  .Mycontact_packages_btn {
    font-size: 4vw;
  }
}

.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #393636;
  color: aliceblue;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (min-width: 2000px) {
  .Footer {
    padding-top: 2%;
  }
}
@media (max-width: 500px) {
  .Footer {
    padding-top: 2%;
  }
}
@media (max-width: 350px) {
  .Footer {
    padding-top: 5%;
  }
}
.Footer_holder {
  display: flex;
  row-gap: 5vh;
  margin: 2% 5%;
  margin-bottom: 0;
  flex-direction: column;
}
@media (min-width: 2000px) {
  .Footer_holder {
    width: 100%;
    padding: 0;
    max-width: 2222px;
    margin: 0 auto;
  }
}
.Footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .Footer_container {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5vh;
  }
}
@media (max-width: 500px) {
  .Footer_container {
    flex-direction: column;
  }
}
.Footer_icon-box {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
@media (min-width: 2000px) {
  .Footer_icon-box {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 768px) {
  .Footer_icon-box {
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
}
.Footer_social {
  cursor: pointer;
  width: auto;
  height: 4vh;
}
@media screen and (min-width: 800px) {
  .Footer {
    /* Apply for BigScreen and Desktop */
  }
  .Footer_img {
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  .Footer {
    /* Apply for Tablet */
  }
  .Footer_img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 599px) {
  .Footer {
    /* Apply for Mobile */
  }
  .Footer_img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 399px) {
  .Footer {
    /* Apply for Small-Mobile */
  }
  .Footer_img {
    width: 20px;
    height: 20px;
  }
}
.Footer_text-box {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.Footer_text {
  font-size: 1.2vw;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}
@media (min-width: 2000px) {
  .Footer_text {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  .Footer_text {
    font-size: 2.5vw;
  }
}
@media (max-width: 500px) {
  .Footer_text {
    font-size: 3.5vw;
  }
}
@media (max-width: 350px) {
  .Footer_text {
    font-size: 4vw;
  }
}
.Footer_text-down {
  display: flex;
  justify-content: space-between;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  margin-bottom: 15px;
}
@media (min-width: 2000px) {
  .Footer_text-down {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  .Footer_text-down {
    font-size: 2.5vw;
    row-gap: 20px;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .Footer_text-down {
    font-size: 3.5vw;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .Footer_text-down {
    font-size: 4vw;
  }
}

.ErrPage {
  display: flex;
  text-align: center;
  font-size: 3.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width: 500px) {
  .ErrPage {
    font-size: 10vw;
  }
}
.ErrPage_btn {
  display: block;
  margin-top: 5%;
  background: #fed983;
  padding: 10px;
  border-radius: 15px;
}
.ErrPage_btn:active {
  background: #5ce1e6;
  transform: scale(0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 0.3s;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}

-webkit-scrollbar {
  display: none;
}

html,
body {
  background: white;
  scroll-behavior: smooth;
  transition: ease-in-out 0.3s;
  width: 100%;
  height: 100vh;
  color: #626262;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}

section {
  margin-top: 10%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

li {
  list-style: none;
}/*# sourceMappingURL=globals.css.map */