@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./utilities/varaibles";
@import "./utilities/mixins";
@import "../components/Header/header.scss";
@import "../components/Header/Navbar/navbar.scss";
@import "../components/Header/Menu/menu.scss";
@import "../components/Header/Hero/hero.scss";
@import "../components/About/about.scss";
@import "../components/Services/services.scss";
@import "../components/MyPackages/MyPackages.scss";
@import "../components/MyGallery/MyGallery.scss";
@import "../components/MyGallery/GalleryPages/Gallery_pages.scss";
@import "../components/MyBlogs/MyBlogs.scss";
@import "../components/Contacts/contact.scss";
@import "../components/MyPackages/Contacts_Packages/contacts_packages.scss";
@import "../components/Footer/footer.scss";
@import "./404.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 0.3s;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}

-webkit-scrollbar {
  display: none;
}

html,
body {
  background: rgb(227, 245, 247);
  scroll-behavior: smooth;
  transition: ease-in-out 0.3s;
  width: 100%;
  height: 100vh;
  color: #626262;
  font-family: "Asap", sans-serif;
}

a {
  text-decoration: none;
  width: fit-content;
}

section {
  margin-top: 10%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

li{
  list-style: none;
}

