.About {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;

    @include BigScreen {
        margin: 0 auto;
        padding: 0;
        max-width: 2222px;
    }

    &_grid {
        display: grid;
        margin-top: 2%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        @include Tablet {
            display: flex;
            flex-direction: column-reverse;
            max-width: 90%;
            align-self: center;
        }
    }

    &_title {
        font-size: 3vw;
        font-family: "Asap", sans-serif;
        font-weight: 500;

        @include Tablet {
            font-size: 5vw;
        }

        @include Mobile {
            font-size: 8vw;
        }
    }

    &_text-con {
        display: flex;
    }

    &_text {
        display: flex;
        text-align: left;
        line-break: normal;
        font-size: 1.5vw;
        line-height: 5vh;
        width: 90%;
        font-family: "Asap", sans-serif;
        font-weight: 400;

        @include Tablet {
            font-size: 2.5vw;
            margin-top:3%;
            width: 100%;
        }

        @include Mobile {
            font-size: 5vw;
        }
    }

    &_img {
        display: block;
        border-radius: 50px;
        margin-top: -15%;
        object-fit: cover;
        height: 90vh;
        width: 100%;
        border: 2px solid whitesmoke;

        @include Tablet {
            height: 70vh;
            margin-top: 0;
        }

        @include Mobile{
            height: 55vh;
        }
    }
}
