.Mycontact_packages {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: dense;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 5% 5%;

    @include BigScreen {
        margin: 5% auto;
        padding: 0;
        max-width: 1960px;
    }

    @include Tablet {
        display: flex;
        flex-direction: column;
    }

    &_img {
        border-top-left-radius: 20px;
        width: 100%;
        object-fit: cover;
        height: 100%;

        @include Tablet {
            width: 100%;
            height: 55vh;
            border-top-left-radius: 0;
        }

        @include Mobile {
            max-width: 100%;
        }
    }

    &_info-box {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        width: 80%;
        @include Tablet {
            margin-left: 0;
            margin-top: 5%;
        }

        @include Mobile {
            width: 100%;
        }
    }
    &_header {
        font-size: 3vw;
        color: $secondary_color;
        font-family: "Asap", sans-serif;
        font-weight: 500;
        margin-bottom: 2%;

        @include Tablet {
            font-size: 5vw;
        }

        @include Mobile {
            font-size: 8vw;
        }
    }

    &_text {
        font-size: 1.5vw;
        max-width: 80%;
        font-family: "Asap", sans-serif;
        font-weight: 500;

        @include Tablet {
            font-size: 3vw;
            max-width: 90%;
        }

        @include Mobile {
            max-width: 95%;
            font-size: 4vw;
        }
    }

    &_form {
        display: flex;
        column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5vh;
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-top: 2%;

        @include Tablet {
            max-width: 90%;
            height: 100vh;
        }

        @include Mobile {
            height: auto;
            max-width: 100%;
            margin-top: 5%;
        }
    }

    &_box {
        display: flex;
        row-gap: 3vh;
        flex-direction: column;
    }

    &_input {
        background: transparent;
        padding: 5px;
        font-size: 1.5vw;
        max-width: 100%;
        outline: none;
        color: $primary_color;

        border-bottom: 3px solid $primary_color;

        &::placeholder {
            color: $primary_color;
        }

        &:focus {
            border-bottom: 3px solid $hovering_color;

            &::placeholder {
                color: $hovering_color !important;
            }
        }

        @include Tablet {
            font-size: 2vw;
        }

        @include Mobile {
            font-size: 3.5vw;
            width: 100%;
        }
    }

    &_textarea {
        @extend .Mycontact_packages_input;
        padding: 0;
    }

    &_choice-box {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 1.5vw;

        @include Tablet {
            font-size: 2vw;
        }

        @include Mobile {
            font-size: 3vw;
        }


        @include Small-Mobile{
            font-size: 3.5vw;
        }
    }

    &_select {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        outline: none;
        border: none;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
        background: $secondary_color;

        &:hover {
            background-color: $hovering_color;
        }

        @include Tablet {
            font-size: 2vw;
        }

        @include Mobile {
            font-size: 3vw;
        }
    }

    &_btn {
        padding: 10px;
        font-size: 2vw;
        border-radius: 10px;
        margin-top: 2%;
        border: none;
        outline: none;
        max-width: 40%;
        background: $secondary_color;
        cursor: pointer;
        transition: ease-in-out 0.3s;
        font-family: "Asap", sans-serif;
        font-weight: 500;

        &:hover {
            background-color: $hovering_color;
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1);
        }

        @include Tablet {
            font-size: 3vw;
        }

        @include Mobile {
            font-size: 4vw;
        }
    }
}
