.Footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #393636;
    color: aliceblue;
    font-family: "Mooli", sans-serif;
    font-weight: 400;

    @include BigScreen {
        padding-top: 2%;
    }

    @include Mobile {
        padding-top: 2%;
    }

    @include Small-Mobile {
        padding-top: 5%;
    }

    &_holder {
        display: flex;
        row-gap: 5vh;
        margin: 2% 5%;
        margin-bottom: 0;
        flex-direction: column;

        @include BigScreen {
            width: 100%;
            padding: 0;
            max-width: 2222px;
            margin: 0 auto;
        }
    }

    &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include Tablet {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 5vh;
        }

        @include Mobile {
            flex-direction: column;
        }
    }

    &_icon-box {
        display: flex;
        column-gap: 10px;
        align-items: center;
        @include BigScreen {
            column-gap: 50px;
        }

        @include Tablet {
            column-gap: 5vw;
        }
    }

    &_social {
        cursor: pointer;
        width: auto;
        height: 4vh;
    }

    &_img {
        filter: grayscale(1);
        width: auto;
        height: 4vh;

        @include BigScreen {
            width: 3vw;
            height: 5vh;
        }

        @include Tablet {
            width: 5vw;
            height: 6vh;
        }

        @include Mobile {
            width: 7vw;
            height: 5.5vh;
        }

        @include Small-Mobile {
            width: 8vw;
            height: 5vh;
        }
    }

    &_text-box {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &_text {
        font-size: 1.2vw;
        font-family: "Mooli", sans-serif;
        font-weight: 400;
        @include BigScreen {
            font-size: 2vw;
        }

        @include Tablet {
            font-size: 2.5vw;
        }

        @include Mobile {
            font-size: 3.5vw;
        }

        @include Small-Mobile{
            font-size: 4vw;
        }
    }

    &_text-down {
        display: flex;
        justify-content: space-between;
        font-family: "Mooli", sans-serif;
        font-weight: 400;
        font-size: 1.2vw;
        margin-bottom: 15px;

        @include BigScreen {
            font-size: 2vw;
        }

        @include Tablet {
            font-size: 2.5vw;
            row-gap: 20px;
            flex-direction: column-reverse;
        }

        @include Mobile {
            font-size: 3.5vw;
            text-align: center;
            flex-direction: column-reverse;
            align-items: center;
        }

        @include Small-Mobile {
            font-size: 4vw;
        }
    }
}
