.Myblogs {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;

    @include BigScreen {
        margin: 0 auto;
        padding: 0;
        max-width: 1960px;
    }

    &_header {
        font-size: 3vw;
        // color: $hovering_color;
        font-family: "Asap", sans-serif;
        font-weight: 500;
        margin-bottom: 2%;

        @include Tablet {
            font-size: 5vw;
        }

        @include Mobile {
            font-size: 8vw;
        }
    }

    &_box-con {
        display: flex;
        flex-direction: column;
        row-gap: 15vh;
    }

    &_img {
        display: block;
        width: 80%;
        height: 90vh;
        border-radius: 20px;
        object-fit: cover;

        @include Mobile {
            height: 70vh;
        }
    }

    &_title {
        color: $secondary_color;
        font-size: 3vw;
        padding-bottom: 5%;
        margin-top: 2%;
        text-transform: uppercase;
        font-family: "Asap", sans-serif;
        font-weight: 500;

        @include Tablet {
            font-size: 4vw;
        }

        @include Mobile {
            font-size: 5vw;
        }

        @include Small-Mobile{
            font-size: 5.5vw;
        }
    }

    &_text {
        color: $primary_color;
        align-self: center;
        max-width: 80%;
        font-size: 1.5vw;
        font-family: "Asap", sans-serif;
        font-weight: 400;

        @include Tablet {
            font-size: 2vw;
            max-width: 90%;
        }

        @include Mobile {
            font-size: 3.3vw;
            max-width: 100%;
        }

        @include Small-Mobile{
            font-size: 4vw;
        }
    }
}
