@import "../../../styles/utilities/mixins";
@import "../../../styles/utilities/varaibles";

.Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    right: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    backdrop-filter: blur(30px);
    color: aliceblue;
    background: rgba(0, 0, 0, 0.299);

    @include BigScreen {
        margin: 0 auto;
        padding: 0;
        max-width: 2222px;
    }

    @include Desktop {
        padding: 1% 2%;
    }

    &_block {
        display: flex;
        align-items: center;
        &--1 {
            justify-content: space-between;
            width: 6vw;

            @include Desktop {
                width: 8vw;
            }
        }

        &--2 {
            width: 45%;
            justify-content: center;
            column-gap: 5vw;

            @include Desktop {
                width: fit-content;
            }
        }

        @include Tablet {
            display: none;
        }
    }

    &_links {
        display: inline-block;
        transition: ease-in-out 0.3s;
        font-family: "Mooli", sans-serif;
        font-weight: 400;
        font-size: 1.2vw;

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: $hovering_color;
            transition: width 0.3s;
        }

        &:hover {
            cursor: pointer;
            color: $hovering_color;

            &::after {
                background: $hovering_color;
                width: 100%;
            }
        }

        @include BigScreen {
            font-size: 40px;
        }
    }

    &_socials {
        width: 2vw;
        height: 2vw;
        filter: grayscale(1);
        transition: ease-in-out 0.3s;

        &:hover {
            cursor: pointer;
            filter: grayscale(0);
            transform: scale(1.1);
        }

        @include Desktop {
            width: 3vw;
            height: 3vw;
        }
    }

    &_logo {
        min-width: 90px;
        min-height: 90px;
        max-width: 200px;
        max-height: 200px;
        width: 9vw; 
        height: 9vw;
        padding: 10px;
    }

    @media screen and (min-width: 800px) {
        /* Apply for BigScreen and Desktop */
        &_logo {
            width: 100px;
            height: 100px;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 799px) {
        /* Apply for Tablet */
        &_logo {
            width: 17vw;
            height: 17vw;
        }
    }

    @media screen and (max-width: 599px) {
        /* Apply for Mobile */
        &_logo {
            width: 90px;
            height: 90px;
        }
    }

    &_lang-con {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2vw;
        font-family: "Mooli", sans-serif;
        font-weight: 400;
        @include Tablet {
            display: none;
        }
    }

    &_selector {
        display: flex;
        outline: none;
        background: transparent;
        cursor: pointer;

        @include BigScreen {
            font-size: 40px;
        }

        &:hover {
            color: $hovering_color;
        }
    }

    &_option {
        background-color: transparent;
        &:hover {
            color: white;
        }
    }
}

.Navpages {
    display: flex;
    width: 100%;
    background: #393636;

    &_box {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        backdrop-filter: blur(5px);
        color: aliceblue;

        @include BigScreen {
            margin: 0 auto;
            padding: 0;
            max-width: 1960px;
        }

        @include Desktop {
            padding: 1% 2%;
        }
    }
}
